.hero{
    margin: 0px 70px;
    margin-top: 100px;
}
.hero-text{
    color: #ffffff;
    font-size: 30px;
    font-weight: 500;
    line-height: 50px;

}
.hero-explore{
    display: flex;
    align-items: center;
    gap: 15px;
    width: fit-content;
    margin-top: 50px;
    padding: 5px 8px;
    padding-left: 30px; 
    border-radius: 40px;
    background-color: white;
    cursor: pointer;
}
.hero-explore p{
    color: black;
    font-size: 20px;
    font-weight: 500;
}
.hero-dot-play{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.hero-dots{
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}
.hero-dot{
    width: 15px;
    height: 15px;
    background: #ffffff; 
    border-radius: 7.5px;
    cursor: pointer;
}
.hero-dot.orange{
    background: orangered;
}
.hero-play{
    display: flex;
    align-items: center;
    gap: 20px;
}
.hero-play p{
    color: #ffffff;
    font-size: 20px ;
}