.hero {
    margin: 0px 70px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
  }
  
  .hero-text {
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 40px; 
    max-width: 800px; 
    padding: 0 20px;
    background-color: rgba(0, 0, 0, 0.5);   
    border-radius: 10px;
  }
  
  .hero-explore {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
    padding: 5px 8px;
    padding-left: 30px;
    border-radius: 40px;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    
    
    animation: jump 2s infinite; 
  }
  
  .hero-explore:hover {
    background-color: #f0f0f0; 
  }
  
  .hero-explore p {
    color: black;
    font-size: 20px;
    font-weight: 500;
  }
  
  
  @keyframes jump {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px); 
    }
    100% {
      transform: translateY(0); 
    }
  }
  
  .hero-dot-play {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 900px;
  }
  
  .hero-dots {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
  }
  
  .hero-dot {
    width: 15px;
    height: 15px;
    background: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s; 
  }
  
  .hero-dot:hover {
    background: #ff6f61; 
  }
  
  .hero-dot.orange {
    background: orangered;
  }
  
  .hero-play {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    transition: transform 0.3s; 
  }
  
  .hero-play:hover {
    transform: scale(1.1); 
  }
  
  .hero-play p {
    color: #ffffff;
    font-size: 20px;
  }
  
  .imgdance{
    animation: jump 2.5s infinite; 
  }